attrs
beautifulsoup4
certifi
chardet
charset-normalizer
flake8
idna
importlib-metadata
iniconfig
itsdangerous
lxml
mccabe
packaging
pluggy
prettytable
py
pycodestyle
pyflakes
pyparsing
pytest
requests
requests-cache
requests-mock
six
soupsieve
tomli
tqdm
typing_extensions
url-normalize
urllib3
wcwidth
zipp
